
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'paiementVente.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'paiementVente.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'paiementVente.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementVente.reference' | translate}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'paiementVente.datePaiement' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paiementVente.datePaiement' | translate}}"  [(ngModel)]="item.datePaiement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'paiementVente.montant' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'paiementVente.montant' | translate}}" [(ngModel)]="item.montant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'paiementVente.vente' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementVente.vente' | translate}}" autofocus  id="4" [(ngModel)]="item.vente.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'paiementVente.modePaiement' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paiementVente.modePaiement' | translate}}" autofocus  id="5" [(ngModel)]="item.modePaiement.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'paiementVente.description' | translate}}</label>
                        <textarea id="6" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'paiementVente.description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



