
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'avoirVenteItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'avoirVenteItem.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'avoirVenteItem.produit' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'avoirVenteItem.produit' | translate}}" autofocus  id="1" [(ngModel)]="item.produit.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'avoirVenteItem.montantAvoir' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'avoirVenteItem.montantAvoir' | translate}}" [(ngModel)]="item.montantAvoir"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'avoirVenteItem.quantite' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'avoirVenteItem.quantite' | translate}}" [(ngModel)]="item.quantite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'avoirVenteItem.depot' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'avoirVenteItem.depot' | translate}}" autofocus  id="4" [(ngModel)]="item.depot.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'avoirVenteItem.avoirVente' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'avoirVenteItem.avoirVente' | translate}}" autofocus  id="5" [(ngModel)]="item.avoirVente.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



