        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'paiementAvoirAchat.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'paiementAvoirAchat.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'paiementAvoirAchat.reference' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'paiementAvoirAchat.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPaiementAvoirAchatReference}"  />
                                            <small class='p-error' *ngIf='!validPaiementAvoirAchatReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'paiementAvoirAchat.datePaiement' | translate}}<span style="color: red;">*</span></label>
                                            <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'paiementAvoirAchat.datePaiement' | translate}}"  [(ngModel)]="item.datePaiement"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validPaiementAvoirAchatDatePaiement}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validPaiementAvoirAchatDatePaiement'>DatePaiement est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'paiementAvoirAchat.montant' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'paiementAvoirAchat.montant' | translate}}" [(ngModel)]="item.montant" [ngClass]="{'ng-invalid ng-dirty' : !validPaiementAvoirAchatMontant}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validPaiementAvoirAchatMontant'>Montant est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'paiementAvoirAchat.achat' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="achats" [(ngModel)]="item.achat" id="4" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="id" placeholder="{{'paiementAvoirAchat.achat' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'paiementAvoirAchat.modePaiement' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="modePaiements" [(ngModel)]="item.modePaiement" id="5" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="libelle" placeholder="{{'paiementAvoirAchat.modePaiement' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validPaiementAvoirAchatModePaiement}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validPaiementAvoirAchatModePaiement'>ModePaiement est obligatoire.</small>
                                    </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'paiementAvoirAchat.description' | translate}}</label>
                                            <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{{'paiementAvoirAchat.description' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="7">{{'paiementAvoirAchat.avoirAchat' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="avoirAchats" [(ngModel)]="item.avoirAchat" id="7" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="id" placeholder="{{'paiementAvoirAchat.avoirAchat' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
